<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>脱脱图书管理系统 - Layui</title>
    <!--<link href="/js/layui/css/layui.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>

</body>
<th:block th:fragment="script">
    <script type="text/javascript" src="/js/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/lib/datatable/1.10.0/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/js/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/js/jquery.validation/1.14.0/validate-methods.js"></script>

    <script type="text/javascript" src="/js/Utils/myJsUtils.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</th:block>
</html>
