<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--公共头-->
<head th:replace="common/menu :: head">
</head>
<!--公共菜单-->
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/menu :: header"></div>
    <div th:replace="common/menu :: nav"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body" style="padding: 15px;">

        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">用户管理</a>
                    <a><cite>查看列表</cite></a>
                </span>
            </div>

            <div class="layui-card-body">
                <div>
                    <div>
                        <a href="/sys/userManage/showCreatePage">
                            <div class="layui-btn">
                                新增
                            </div>
                        </a>
                        <a href="#" id="showUpdatePage">
                            <div class="layui-btn">
                                编辑
                            </div>
                        </a>
                        <button class="layui-btn layui-btn-danger">删除</button>

                    </div>

                </div>

                <div class="layui-form">
                    <table class="layui-table table-responsive-sm" id="table" lay-filter="table"></table>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="common/menu :: footer"></div>
</div>
</body>
<th:block th:insert="~{common/menu :: script}"></th:block>
<script type="text/javascript">

    $(function () {

        layui.use('table', function () {
            var $ = layui.jquery,
                element = layui.element, //Tab的切换功能，切换事件监听等，需要依赖element模块
                table = layui.table;

            var opt = {
                elem: '#table',
                url: '/sys/userManage/listData',
                page: false, //开启分页,
                parseData: function (res) {
                    console.log("res", res);
                    return {
                        'code': 0,      //数据状态，为0才会渲染
                        'msg': "",      //状态信息
                        'count': 1000,  //数据长度
                        data: res.data
                    }
                },
                cols:
                    [
                        [
                            {type: 'checkbox'},
                            {field: 'id', title: 'ID'},
                            {field: 'username', title: '登录帐号'},
                            {field: 'nickname', title: '昵称'},
                            {field: 'sex', title: '性别'},
                            {field: 'status', title: '使用状态'},
                            {field: 'email', title: 'email'},
                            {field: 'mobilePhone', title: '手机号码'}
                        ]
                    ],
                done: function (res, curr, count) {
                    table = res.data;
                },
                response:{
                    statusName: 'code',     //规定数据状态的字段名称，默认：code
                    dataName: 'data'       //规定数据列表的字段名称，默认：data
                },
            };
            table.render(opt);
            // table.on('sort(table)', function (obj) {
            //     debugger;
            //     tableIns.reload({
            //         initSort: obj,
            //         where: {
            //             sortName: obj.field,
            //             sortOrder: obj.type,
            //             pageName: 'pageNumber', //页码的参数名称，默认：page
            //             limitName: 'pageSize' //每页数据量的参数名，默认：limit
            //         }
            //     })
            // });
        });
        //
        // //点击编辑按钮
        // $('#showUpdatePage').on('click', function () {
        //     var checkStatus = table.checkStatus('table'), data = checkStatus.data;
        //     if (data.length != 1) {
        //         layer.alert("请选择一条记录!", {icon: 0});
        //     } else {
        //
        //         $.ajax(
        //             {
        //                 type: 'POST',
        //                 url: '/sys/userManage/showUpdatePage/' + data[0].id,
        //                 contentType: 'application/json',
        //                 dataType: 'json',
        //                 success: function (data) {
        //                     console.log(data);
        //                     alert(data.message);
        //                 },
        //                 error: function (e) {
        //                     console.log(e);
        //                 }
        //             }
        //         );
        //     }
        // });
    })
</script>
</html>
