<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--公共头-->
<head th:replace="common/menu :: head">
</head>
<!--公共菜单-->
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/menu :: header"></div>
    <div th:replace="common/menu :: nav"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body" style="padding: 15px;" id="update-modal">

        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">用户管理</a>
                    <a><cite>修改用户</cite></a>
                </span>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">
                    <div>
                        <div class="layui-btn" lay-submit="" lay-filter="formSave">
                            提交
                        </div>

                        <div class="layui-btn layui-btn-danger" lay-submit="" lay-filter="formCancel">
                            取消
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <div class="site-text site-block">
                        <form class="layui-form" action="" id="update-form">

                            <div>
                                <input id="id" th:value="${e.id}" hidden/>
                                <input id="password" th:value="${e.password}" hidden/>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">所属角色</label>
                                <div class="layui-input-inline">
                                    <select id="role" name="role" lay-verify="required" class="layui-select">
                                        <!--/*@thymesVar id="role" type="com.example.myhead.one.entity.sys.SysRole"*/-->
                                        <option th:each="role: ${role}" th:value="${role.id}"
                                                th:text="${role.roleName}"></option>
                                        >
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">帐号</label>
                                <div class="layui-input-inline">
                                    <input id="username" type="text" name="title" required="" lay-verify="required"
                                           th:value="${e.username}" autocomplete="off" class="layui-input" readonly>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input id="nickname" type="text" name="nickname"
                                           th:value="${e.nickname}" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-inline">
                                    <select id="sex" name="sex" lay-verify="required" class="layui-select">
                                        <option value="女">女</option>
                                        <option value="男">男</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-inline">
                                    <input id="mobilePhone" type="text" name="mobilePhone" lay-verify="required"
                                           th:value="${e.mobilePhone}" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">电子邮箱</label>
                                <div class="layui-input-inline">
                                    <input id="email" type="text" name="email" lay-verify="required"
                                           th:value="${e.email}" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/menu :: footer"></div>
</div>
</body>
<th:block th:insert="~{common/menu :: script}"/>
<script type="text/javascript">

    $(function () {

        common.back();

        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formSave)', function (data) {
                // layer.msg(JSON.stringify(data.field));
                // return false;
                if (validateForm.form()) {
                    saveOrUpdate();
                    // $('#create-form').find('button').attr('disabled');
                    console.log("123");

                }
            });
            // form.on('submit(formCancel)', function () {
            //     history.back(-1);
            // });
        });

        $('#update-modal')
        //点击保存按钮
            .on('click', 'button[data-name=save]', function () {
                if (validateForm.form()) {
                    $('#update-form').find('button').attr('disabled');
                    // console.log("123");

                }
            })  //点击取消按钮
            .on('click', 'button[data-name=cancel]', function () {

            });

        //让当前表单调用validate方法，实现表单验证功能
        var validateForm = $('#update-form').validate({
            rules: {
                username: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                mobilePhone: {
                    required: true,
                    isMobile: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名"
                },
                email: {
                    required: "请输入邮箱",
                    email: "邮件格式不正确"
                },
                mobilePhone: {
                    required: "请输入手机号码",
                    isMobile: "手机号码格式不正确"
                }
            }
        });

        function saveOrUpdate() {

            console.log("role:", $('#role').find('option:selected').val());
            var role = {};
            role.id = $('#role').find('option:selected').val();

            var formData = {};
            formData.id = $('#id').val();
            formData.password = $('#password').val();
            formData.username = $('#username').val();
            formData.nickname = $('#nickname').val();
            formData.sex = $('#sex').find('option:selected').val();
            formData.email = $('#email').val();
            formData.mobilePhone = $('#mobilePhone').val();
            formData.role = role;

            console.log("data:", formData);

            $.ajax(
                {
                    type: 'POST',
                    url: '/sys/userManage/saveOrUpdate',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        console.log(data);
                        alert(data.message);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                }
            );
        }

    })

</script>
</html>
