<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--公共头-->
<head th:replace="common/menu :: head">
</head>
<!--公共菜单-->
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/menu :: header"></div>
    <div th:replace="common/menu :: nav"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body" style="padding: 15px;">

        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">用户管理</a>
                    <a><cite>查看列表</cite></a>
                </span>
            </div>

            <div class="layui-card-body">
                <div>
                    <div>
                        <a href="/sys/userManage/showCreatePage">
                            <div class="layui-btn">
                                <i class="layui-icon layui-icon-add-1"></i>
                                新增
                            </div>
                        </a>
                        <a href="/sys/userManage/showUpdatePage">
                            <div class="layui-btn">
                                <i class="layui-icon layui-icon-edit"></i>
                                编辑
                            </div>
                        </a>

                        <button class="layui-btn layui-btn-danger">删除</button>

                        <a href="/sys/userManage/showUpdatePage">
                            <div class="layui-btn layui-btn-danger">
                                <i class="layui-icon layui-icon-delete"></i>
                                删除
                            </div>
                        </a>
                    </div>

                </div>

                <div></div>
                <table class="layui-table" id="table">
                    <thead>
                    <tr>
                        <th width="27"></th>
                        <th>用户名称</th>
                        <th>用户昵称</th>
                        <th>用户状态</th>
                        <th>手机号码</th>
                        <th>邮箱</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>


    </div>

    <div th:replace="common/menu :: footer"></div>
</div>
</body>
<th:block th:insert="~{common/menu :: script}"></th:block>
<script type="text/javascript">

    $(function () {
        $('#table').DataTable({
            bStateSave: true,//状态保存
            pading: true,
            aoColumnDefs: [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [0]}// 不参与排序的列
            ],
            processing: true,
            serverSide: true,
            ajax: {
                url: '/sys/userManage/listData',
                type: 'GET'
            },
            columns: [
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return '<input type="checkbox" id="' + row.id + '" name="' + row.id + '" value="' + row.id + '"/>'
                    }
                },
                {"data": "username"},
                {"data": "nickname"},
                {"data": "status"},
                {"data": "mobilePhone"},
                {"data": "email"}

            ]
        });


    })
</script>
</html>
