<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TuoTuo Book 登录入口</title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body style="background-image: url('/img/login_blackground.png');background-size: cover;display: flex;align-items: center;">
<div class="modal-dialog" style="margin-top: 13%; width: 23%;">
    <div class="modal-content" id="login-modal">
        <form id="login-form" action="#">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">登录入口</h4>
            </div>
            <div class="modal-body" id="model-body" style="width: 90%; margin: auto">
                <div class="form-group">
                    <input id="username" type="text" class="form-control" placeholder="用户名" autocomplete="off">
                </div>
                <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="密码" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer" style="width: 90%; margin: auto">
                <div class="form-group">
                    <button data-name="save" type="button" class="btn btn-primary form-control" style="background-color: #2b2b2b">登录</button>
                </div>
                <div class="form-group">
                    <button data-name="register" type="button" class="btn btn-default form-control">注册</button>
                </div>

            </div>
        </form>
    </div><!-- /.modal-content -->
</div>

</body>
<script type="text/javascript" src="/js/jquery-3.4.1/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/js/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/js/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/js/Utils/myJsUtils.js"></script>
<script>
    $(function () {

        //按钮事件注册
        $('#login-modal').on('click', 'button[data-name=save]', function () {
            if (validateForm.form()) {
                $('#login-form').find('button').attr('disabled');
                login();
            }
        });

        //让当前表单调用validate方法，实现表单验证功能
        var validateForm = $('#login-form').validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名"
                },
                password: {
                    required: "请输入密码"
                }
            }
        });


        function login() {
            let formdata = {};
            formdata.username = $('#username').val();
            formdata.password = $('#password').val();

            // console.log(formdata);
            $.ajax({
                url: '/login',
                type: 'post',
                dataType: 'json',
                data: formdata,
                success: function (res) {
                    //这里无法进行登录验证后的跳转。
                    console.log("1212:", res);
                    if (res.status === 200) {
                        // console.log(data.message);
                        window.location.href = '/index';
                        window.location.reload();
                    } else {
                        alert(res.message);
                    }
                },
                error: function (res) {
                    console.log("111", res);
                }
            });
        }
    })
</script>
</html>
